<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ingresar Estudiante</title>
</head>
<body>
	<h1>Listado de Estudiante</h1>
	<table>
		<thead>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carnet</th>
			<th>Carrera</th>
		</thead>
		<th:block th:each="estudiante, row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigoEstudiante}" />
				<th th:text="${estudiante.nombre}" />
				<th th:text="${estudiante.apellido}" />
				<th th:text="${estudiante.carnet}" />
				<th th:text="${estudiante.carrera}" />
			</tr>
		</th:block>
	</table>
	<a href="/agregarEstudiante"><input type="button" value="Insertar otro estudiante"></a>
	<h2>Eliminar Estudiante</h2>
	<div style="">
		<form th:action="@{/eliminarEstudiante}" method="post">
			<label>Codigo del Estudiante:</label>
			<input type= "text" name="codigo"><br>
			<input type="submit" value="Eliminar Estudiante">
		</form>
	</div>
	<h2>Editar Estudiante</h2>
	<div>
		<form th:action="@{/actualizarEstudiante}" method="post">
			<label>Codigo del estudiante: </label>
			<input type="number" name="id"> 
			<br>
			<input type="submit" value="editar">
		</form>
	</div>
</body>
</html>